@model WebApplication2.Models.Curriculo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Curriculo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Endereco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nacionalidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nacionalidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataNasc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataNasc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Empresa1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CargoTrab1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CargoTrab1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PeriodoTrab1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PeriodoTrab1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescricaoTrab1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescricaoTrab1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Empresa2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CargoTrab2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CargoTrab2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PeriodoTrab2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PeriodoTrab2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescricaoTrab2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescricaoTrab2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Instituicao1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Instituicao1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nivel1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nivel1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Curso1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Curso1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Instituicao2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Instituicao2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nivel2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nivel2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Curso2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Curso2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Habilidades)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Habilidades)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idioma2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idioma2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idioma3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idioma3)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.idCurriculo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
